In [7]:
import pandas as pd
import numpy as np
import Test as ML
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [30]:
# Example of using the FlowDataLoader
base_path = 'data'  # Adjust this to your actual path
city = 'Anaheim'
random = 10
missing_rate = 10  # For example, 10% missing rate

data_loader = ML.FlowDataLoader(base_path, city, random, missing_rate)
x_train, y_train, x_val, y_val, x_test, y_test = data_loader.get_data()

In [31]:
# Initialize Random Forest model
rf_model = ML.RandomForestFlowPredictor(n_estimators=100, max_depth=None)

# Train Random Forest model
rf_model.train(x_train, y_train)

# Evaluate on validation data
rmse_val, mae_val, r2_val = rf_model.evaluate(x_val, y_val)
print(f"Validation - RMSE: {rmse_val}, MAE: {mae_val}, R2: {r2_val}")

# Evaluate on test data
rmse_test, mae_test, r2_test = rf_model.evaluate(x_test, y_test)
print(f"Test - RMSE: {rmse_test}, MAE: {mae_test}, R2: {r2_test}")

Validation - RMSE: 0.00828933005748257, MAE: 0.00445342410947386, R2: 0.9803136062378027
Test - RMSE: 0.03164145372956007, MAE: 0.012570190211377915, R2: 0.8797917093818578

In [35]:
# Loop through cities and missing rates to get results
base_path = 'data'  # Adjust this to your actual path
cities = ['Anaheim', 'SiouxFalls', 'Chicago_Sketch']
randoms = [0, 5, 10, 15, 20, 25, 30, 35, 40, 50]
missing_rates = [10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 97]

results = []

for city in cities:
    for random in randoms:
        for missing_rate in missing_rates:
            # Load data
            data_loader = ML.FlowDataLoader(base_path, city, random, missing_rate)
            x_train, y_train, x_val, y_val, x_test, y_test = data_loader.get_data()
            
            # Initialize and train the model
            predictor = ML.RandomForestFlowPredictor()
            predictor.train(x_train, y_train)

            # Evaluate the model on test data
            rmse, mae, r2 = predictor.evaluate(x_test, y_test)

            # Append results
            results.append({
                'City': city,
                'random': random,
                'Missing Rate': missing_rate,
                'RMSE': rmse,
                'MAE': mae,
                'R2': r2
            })

# Convert results to a DataFrame for better visualization
results_df = pd.DataFrame(results)
print(results_df)

               City  random  Missing Rate      RMSE       MAE        R2
0           Anaheim       0            10  0.007292  0.004028  0.981370
1           Anaheim       0            20  0.014798  0.006703  0.977261
2           Anaheim       0            30  0.017815  0.008023  0.973618
3           Anaheim       0            40  0.009388  0.004760  0.909485
4           Anaheim       0            50  0.013157  0.007410  0.966183
..              ...     ...           ...       ...       ...       ...
325  Chicago_Sketch      50            70  0.051898  0.008086  0.210746
326  Chicago_Sketch      50            80  0.028113  0.007975  0.417856
327  Chicago_Sketch      50            90  0.025615  0.007283  0.464736
328  Chicago_Sketch      50            95  0.044037  0.011650  0.364161
329  Chicago_Sketch      50            97  0.039219  0.011386  0.437510

[330 rows x 6 columns]

In [36]:
results_df.to_csv("result.csv")

In [8]:
import pandas as pd

data = pd.read_csv("result.csv", index_col=0)

In [9]:
data

               City  random  Missing Rate      RMSE       MAE        R2
0           Anaheim       0            10  0.007292  0.004028  0.981370
1           Anaheim       0            20  0.014798  0.006703  0.977261
2           Anaheim       0            30  0.017815  0.008023  0.973618
3           Anaheim       0            40  0.009388  0.004760  0.909485
4           Anaheim       0            50  0.013157  0.007410  0.966183
..              ...     ...           ...       ...       ...       ...
325  Chicago_Sketch      50            70  0.051898  0.008086  0.210746
326  Chicago_Sketch      50            80  0.028113  0.007975  0.417856
327  Chicago_Sketch      50            90  0.025615  0.007283  0.464736
328  Chicago_Sketch      50            95  0.044037  0.011650  0.364161
329  Chicago_Sketch      50            97  0.039219  0.011386  0.437510

[330 rows x 6 columns]

In [10]:
df_sorted = data.sort_values(by=["City", "Missing Rate"])

In [11]:
df_sorted

           City  random  Missing Rate      RMSE       MAE        R2
0       Anaheim       0            10  0.007292  0.004028  0.981370
11      Anaheim       5            10  0.013705  0.006659  0.909226
22      Anaheim      10            10  0.031641  0.012570  0.879792
33      Anaheim      15            10  0.010400  0.004814  0.965131
44      Anaheim      20            10  0.013593  0.006426  0.787311
..          ...     ...           ...       ...       ...       ...
175  SiouxFalls      25            97  0.524246  0.245756  0.196423
186  SiouxFalls      30            97  0.313407  0.226236  0.399710
197  SiouxFalls      35            97  0.314962  0.214586  0.333003
208  SiouxFalls      40            97  0.161823  0.140086  0.346456
219  SiouxFalls      50            97  0.264554  0.193895  0.453943

[330 rows x 6 columns]

In [12]:
data = df_sorted.reset_index()

In [14]:
data = data.iloc[:, 1:]

In [15]:
data

           City  random  Missing Rate      RMSE       MAE        R2
0       Anaheim       0            10  0.007292  0.004028  0.981370
1       Anaheim       5            10  0.013705  0.006659  0.909226
2       Anaheim      10            10  0.031641  0.012570  0.879792
3       Anaheim      15            10  0.010400  0.004814  0.965131
4       Anaheim      20            10  0.013593  0.006426  0.787311
..          ...     ...           ...       ...       ...       ...
325  SiouxFalls      25            97  0.524246  0.245756  0.196423
326  SiouxFalls      30            97  0.313407  0.226236  0.399710
327  SiouxFalls      35            97  0.314962  0.214586  0.333003
328  SiouxFalls      40            97  0.161823  0.140086  0.346456
329  SiouxFalls      50            97  0.264554  0.193895  0.453943

[330 rows x 6 columns]

In [20]:
RMSE = 0
MAE = 0
R2 = 0
RMSE_list = []
MAE_list = []
R2_list = []
for i in range(len(data)):
    RMSE += data.iloc[i, -3]
    MAE += data.iloc[i, -2]
    R2 += data.iloc[i, -1]
    if i in list(range(9, 330, 10)):
        # print(data.iloc[i, 1])
        RMSE_list.append(RMSE/10)
        MAE_list.append(MAE/10)
        R2_list.append(R2/10)
        RMSE = 0
        MAE = 0
        R2 = 0

In [23]:
city = []
for _ in range(11):
    city.append("Anaheim")

for _ in range(11):
    city.append("Chicago_Sketch")

for _ in range(11):
    city.append("SiouxFalls")
city

['Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Anaheim',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'Chicago_Sketch',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls',
 'SiouxFalls']

In [24]:
miss = []
for _ in range(3):
    miss = miss + [10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 97]

miss

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 95,
 97,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 95,
 97,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 95,
 97]

In [25]:
len(miss), len(city), len(RMSE_list)

(33, 33, 33)

In [26]:
result = pd.DataFrame({
    "City": city,
    "Missing Rate": miss,
    "RMSE": RMSE_list,
    "MAE": MAE_list,
    "R2": R2_list
})

In [28]:
result

              City  Missing Rate      RMSE       MAE        R2
0          Anaheim            10  0.022299  0.008467  0.907767
1          Anaheim            20  0.023440  0.009731  0.903902
2          Anaheim            30  0.027197  0.009835  0.910202
3          Anaheim            40  0.031244  0.012070  0.863650
4          Anaheim            50  0.033032  0.012552  0.906913
5          Anaheim            60  0.042298  0.014910  0.862294
6          Anaheim            70  0.039275  0.015468  0.892102
7          Anaheim            80  0.042375  0.015399  0.832010
8          Anaheim            90  0.092102  0.032240  0.673785
9          Anaheim            95  0.143339  0.058483  0.326811
10         Anaheim            97  0.244773  0.088558  0.051199
11  Chicago_Sketch            10  0.008935  0.002180  0.460115
12  Chicago_Sketch            20  0.011129  0.002580  0.451407
13  Chicago_Sketch            30  0.010293  0.002660  0.421397
14  Chicago_Sketch            40  0.011111  0.002734  0.457534
15  Chicago_Sketch            50  0.015635  0.003778  0.394963
16  Chicago_Sketch            60  0.016060  0.004644  0.423054
17  Chicago_Sketch            70  0.020379  0.005053  0.373348
18  Chicago_Sketch            80  0.021738  0.006248  0.404687
19  Chicago_Sketch            90  0.034513  0.008367  0.361729
20  Chicago_Sketch            95  0.040730  0.010550  0.296668
21  Chicago_Sketch            97  0.047881  0.012429  0.367909
22      SiouxFalls            10  0.068676  0.048689  0.759574
23      SiouxFalls            20  0.067008  0.048097  0.730604
24      SiouxFalls            30  0.088029  0.059682  0.795110
25      SiouxFalls            40  0.077188  0.052160  0.730034
26      SiouxFalls            50  0.083648  0.057197  0.695710
27      SiouxFalls            60  0.067108  0.048031  0.632866
28      SiouxFalls            70  0.100858  0.064470  0.632482
29      SiouxFalls            80  0.111265  0.071441  0.466036
30      SiouxFalls            90  0.153449  0.102330  0.417349
31      SiouxFalls            95  0.299654  0.185263  0.361910
32      SiouxFalls            97  0.321783  0.202487  0.270562

In [29]:
result.to_csv("cleaned_data.csv")